
/* Estilo del encabezado */
.header {
    background-color: #900;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo img {
    width: 250px; /* Ajusta el tamaño del logo */
    margin-right: 15px;
}
/* Estilos para la barra de navegación */
.header p {
    font-size: 16px;
}
.navbar {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

.navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Estilos para los botones */
.buy-button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.buy-button:hover {
    background-color: #e65c00;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.lista-repuestos {
    list-style-type: none;
    padding: 0;
}

.lista-repuestos li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.lista-repuestos li:last-child {
    border-bottom: none;
}

